<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Bienvenue{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('dependencies/bootstrap/dist/css/bootstrap-theme.min.css') }}">
        <style>
            #page {
                padding-top: 75px;
            }
            body {
                background-color: hsl(45, 30%, 74%);
            }
            footer {
                position: fixed;
                bottom: 0;
                left: 0;
                background-color: #0f0f0f;
                color: #0088CC;
                width: 100%;
                height: 40px;
                text-align: center;
                font-size: 30px;
            }
        </style>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>


<body class="container-fluid">
{% block nav %}
    {% include 'partials/_nav.html.twig' %}
{% endblock %}
<div class="row" id="page">
    <div class="col-md-10 col-md-offset-1">
        <header>
            {% block header %}
                <h1>Site de petites annonces</h1>
            {% endblock %}
        </header>
        <section class="col-md-8">
            {% block body %}
                    <div class="input-group">
                        <button class="btn btn-default" type="button">
                            <a href="{{ path('list_page') }}" style="color: inherit; text-decoration: none; font-size: large" >Liste de toutes les annonces</a>
                        </button>
                    </div>
                    <br>
                    <form method="post" action="{{ path('listByCp_page') }}">
                        <div class="input-group">
                            <button class="btn btn-default" type="submit">
                                <a style="color: inherit; text-decoration: none; font-size: large">Liste des annonces par code postal</a>
                            </button>
                            <input type="text" name="cp" placeholder="Code Postal" style="font-size: large">
                        </div>
                    </form>
                    <br>
                    <form method="post" action="{{ path('listByPrice_page') }}">
                        <div class="input-group">
                            <button class="btn btn-default" type="submit">
                                <a style="color: inherit; text-decoration: none; font-size: large">Liste des annonces par prix</a>
                            </button>
                                <input type="text" name="prixMini" placeholder="Prix mini" style="font-size: large">
                                <input type="text" name="prixMaxi" placeholder="Prix maxi" style="font-size: large">
                        </div>
                    </form>
            {% endblock %}
        </section>
        <aside class="col-md-4">
            {% block aside %}
                {% if app.session.flashBag.has("info") %}
                    <div class="alert alert-info">
                        {% for message in app.session.flashBag.get("info") %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock %}
        </aside>
    </div>

</div>

<footer>
    {% block footer %}
        Copyleft : Sébastien CAPPELAERE
    {% endblock %}
</footer>

{% block javascripts %}
    <script src="{{ asset('dependencies/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('dependencies/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>