{% extends 'base.html.twig' %}

{% block body %}

    <h2>Liste des annonces existantes</h2>

    {% for annonce in annonceList %}
        <div class="container-fluid">
            <h3>{{ annonce.titre }}</h3>
            <h4>par {{ annonce.vendeur.name }} {{ annonce.vendeur.firstName }}</h4>
            <p>{{ annonce.description }}</p>
            <p>Prix : {{ annonce.price }} €</p>
            <p>Code postal : {{ annonce.codePostal }}</p>

            <hr>
        </div>
        {% else %}<h3>Aucune annonce trouvée</h3>
    {% endfor %}
{% endblock %}



